[Unit]
Description=Mls Daemon
After=network.target

[Service]
# Set WorkingDirectory and ExecStart to your file paths accordingly
# NOTE: %h will be resolved to /home/<username>
WorkingDirectory=%h/mls
ExecStart=/usr/bin/mls start
Restart=on-failure

[Install]
WantedBy=default.target